*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

.container{
    display: grid;
    place-items: center;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677,#4e085f);
    padding: 10px;
}

.to-doapp{
        width: 540px;
        background: #fff;
        margin: 100px auto 20px;
        padding: 40px 30px 70px;
        border-radius: 10px;
}
.to-doapp h2{

    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.to-doapp h2 img{
        width: 30px;
        margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius:20px;
    padding-left: 20px;
    margin-bottom: 25px;
}

.row input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
.row button{
        border: none;
        outline: none;
        padding: 16px 50px;
        background: #ff5945;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        border-radius: 40px;

}


ul li {
        list-style: none;
        font-size: 17px;
        padding: 12px 8px 12px 50px;
        user-select: none;
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
}
ul li::before {
            content: '';
            position: absolute;
            height: 28px;
            width: 28px;
            border-radius: 50%;
            background-image: url('images/unchecked.png');
            background-size: cover;
            background-position: center;
            top: 12px;
            left: 8px;
}

ul li.checked{
        color: #555;
        text-decoration: line-through;
}

ul li.checked::before{
        background-image: url('images/checked.png');
}

.list{
    width: max-content;
}

.edit{
    
        outline: none;
        border: none;
        border-radius: 50%;
        width: 20px;
        height: 20px;
    

}
.edit:hover{
    color: #ff5945;
    background: none;
}
.del{
    margin-left: 1rem;
    border: none;
    outline: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
 .del:hover{
    color: red;
    background: none;
 }   
 
 #list-container li span{
    max-width: 70%;
    word-break: break-all;
}



/* Media Queries for Responsiveness */

/* Small screens (mobile phones) */
@media (max-width: 600px) {
    .to-doapp {
        width: 82%;
        margin: 20px 32px;
        padding: 20px;
    }
    

    .row {
        flex-direction: column;
        padding: 10px;
    }
   
    .row input {
        margin-bottom: 10px;
    }

    .row button {
        width: 100%;
    }
}

/* Medium screens (tablets) */
@media (min-width: 601px) and (max-width: 900px) {
    .to-doapp {
        width: 80%;
    }
}


